@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden bg-white text-slate-900 transition-colors duration-200;
  }
  
  body.dark {
    @apply bg-slate-950 text-slate-100;
  }
}